.container#content {
  margin-top: 10px;
  background-color: #F1F0EA !important;
}
#content .row{
  margin-left: 0px;
  margin-right: 0px;
}
.col-md-8{
  padding-left: 0px;
  padding-right: 0px;
}
body {
  background-color: $light-gray;
  font-family: $site-font;
}

footer{
  color: white;
  background-color: green;
  text-align: center;
}

