.headlineTags{
    display: flex;
}

.headlineTags h3{
    color: white;
    background-color:#3E885B; 
    margin: 20px 10px;
    padding: 5px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.headlineImage{
    width: 100%;
    height: 55vh;
}

#headlineTitle{
    color: white;
    margin-left: 10px;
}