.navbar{
    background-color: black;
}
.nav-item{
    margin-bottom: 0;
}
.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
    opacity: 80%;
}

.navbar-brand img{
    margin-bottom: 0;
    height: 25px;
    line-height: 0;
}

.hamburger-react{
    margin: 0 0;
    padding: 0 0 !important;
    line-height: 0 !important;
    width: 50%;
    border: none;
}
.toggler{
    display: flex;
    color: white;
}

.toggler a{
    line-height: 2.5;
}

.hamburger-react button:focus {outline:thin dotted !important;}